<html>
	<head>
		<meta http-equiv=Content-Type content="text/html; charset=utf-8">
		<meta name="viewport" 
        content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=0">
		<style type="text/css">
			body{
				top: 3em;
				bottom: 3em;
				left: 5%;
				right: 5%;
				width: 90%;
				position: absolute;
			}
		</style>
		<title>调查结果</title>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
		<link rel="stylesheet" href="/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
		<script src="/bootstrap-material-design/dist/js/material.min.js"></script>
		<script>
			$.material.init();
		</script>
	</head>
	<body>
        <div class="panel panel-default">
		<div class="panel-body">
		<h1>调查结果</h1>
		<div id="chart-field"></div>
		<script>
			$.getJSON("/vote_analysis",function(data){
				data.forEach(function(q,i){
					var ele=document.createElement('div');
					$("#chart-field").append(ele);
					$(ele).attr("width","80%");
					$(ele).attr("height","15em");
					$(ele).attr("id","chart_"+i);
					$("#chart_"+i).highcharts({
						// Highcharts 配置
						chart:{
							style:{
								fontFamily:"",
								fontSize:'12px',
								fontWeight:'bold',
								color:'#006cee'
							},
							renderTo:"chart_"+i, // 注意这里一定是 ID 选择器
						},
						title:{text: q.ques},
						tooltip: {
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
						},
						plotOptions: {
							pie: {
								allowPointSelect: true,
								cursor: 'pointer',
								dataLabels: {
									enabled: true,
									color: '#000000',
									connectorColor: '#000000',
									format: '<b>{point.name}</b>: {point.percentage:.1f} %'
								}
							}
						},
						series: [{
								type: "pie",
								name: q.ques,
								data: q.options.map(function(o){
									return [o.option,o.count];
								}),
						}],
					});
				});
			});
		</script>
		<a class="btn btn-info btn-block btn-raised" href="/correlation">探究相关性</a>
		<label>共回收 <%= @vote_num %> 份调查问卷</label>
		<div id="history"></div>
		<script>
		$.getJSON("/voter_num",function(data){
			$('#history').highcharts({
				title: {
					text: '每日投票量',
				},
				xAxis: {
					categories: data.x_axis.map(function(s){
						var d=new Date(s);
						if(d.getDate()==1){
							if(d.getMonth()==1)
								return d.getYear()+"年";
							else
								return (d.getMonth()+1)+"月";
						}else{
							return d.getDate();
						}
					}),
				},
				yAxis: {
					title: {
						text: '投票量'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}]
				},
				tooltip: {
					formatter:function(){
						return "<b>"+data.x_axis[this.point.x]+"</b><br/>"+
						this.point.y+" 份";
					},
					//~ headerFormat: '{point.index}<br/>',
					//~ valueSuffix: '份'
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [{
					name: '当日投票量',
					data: data.data,
				}],
			});
		});
		</script>
		</div>
		</div>
	</body>
</html>
