<html>
	<head>
		<meta http-equiv=Content-Type content="text/html; charset=utf-8">
		<meta name="viewport" 
        content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=0">
		<style type="text/css">
			.btn{
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}
			body{
				top: 3em;
				bottom: 3em;
				left: 5%;
				right: 5%;
				width: 90%;
				position: absolute;
			}
		</style>
		<title>调查结果</title>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
		<script type="text/javascript" src="//cdn.hcharts.cn/highcharts/highcharts-more.js"></script>
	</head>
	<body>
		<h1>统计结果相关性分析</h1>
		<div id="selecting_box">
			<%[["axis","分类"],["q1","X轴"],["q2","Y轴"]].each do |id,name|%>
				<label>请选择<%=name%></label>
				<select id="select_<%=id%>" class="form-control">
					<%["无"].concat(@qdata.map{|x| x["ques"]}).map do|opt|%>
					<option><%=opt%></option>
					<%end%>
				</select>
			<%end%>
			<button class="btn btn-info btn-block" id="render_btn">显示图表</button>
		</div>
		<div id="correlation"></div>
		<script>
		$("#render_btn").on("click",function(){
			var axis=$("#select_axis").val(),
				q1=$("#select_q1").val(),
				q2=$("#select_q2").val();
			if(q1=='无' || q2=='无'){
				alert("X轴与Y轴必须选择");
			}else{
				renderChart(axis,q1,q2);
			}
		});
		function renderChart(axis,q1,q2){
			$.getJSON("/correlation_data?axis="+encodeURI(axis)+
				"&q1="+encodeURI(q1)+
				"&q2="+encodeURI(q2),function(data){
				console.log(data);
				$('#correlation').highcharts({
					chart: {
						type: 'bubble',
						zoomType: 'xy',
						renderTo: "correlation",
					},
					title:{
						text: '相关性比较'
					},
					xAxis: {
						title: {
							text: data.q1.ques
						},
						labels: {
							formatter: function() {
								return data.q1.options[this.value];
							}
						}
					},
					yAxis: {
						title: {
							text: data.q2.ques
						},
						labels: {
							formatter: function() {
								return data.q2.options[this.value];
							}
						}
					},
					series: data.data,
					tooltip: {
						formatter: function() {
							return '<b>'+ this.series.name +': </b>'+this.point.z+" 人"+
							'<br/>'+
							'<b>'+data.q1.ques+'</b> '+data.q1.options[this.x] +' <br/> '+
							'<b>'+data.q2.ques+'</b> '+data.q2.options[this.y]+'<br/>';
						}
					},
				});
			});
		}
		</script>
	</body>
</html>
