<html>
	<head>
		<meta http-equiv=Content-Type content="text/html; charset=utf-8">
		<meta name="viewport" 
                content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=0">
		<style type="text/css">
			.btn{
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}
			body{
				top: 3em;
				bottom: 3em;
				left: 5%;
				right: 5%;
				width: 90%;
				position: absolute;
			}
		</style>
		<title>厦门大学大学生生育观念调查</title>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
	<script>
		var OPTIONS_MAX=10;
		var TIMEOUT=400;
	</script>
		<div>
			<label>我们不会记录有关您的任何信息。</label>
			<h3 id="ques"></h3>
			<div class="bg-info" id="about-text"></div>
			<script>
			for(var i=0;i<OPTIONS_MAX;i++){
				document.write('<div style="position:relative;">');
				document.write('<button class="btn btn-default btn-block opt-btn" id="option_'+i+'" onmousedown="javascript:select('+i+');"></button>');
				document.write('</div>');
			}
			</script>
			<button class="btn btn-info btn-block" id="next_btn" onmousedown="javascript:record();">
				确定
			</button>
			<label id="ques_num"></label>
		</div>
	<script src="/index_vote.js"></script>
	<a href="/analysis">直接查看结果?</a>
	</body>
</html>
