<html>
	<head>
		<meta http-equiv=Content-Type content="text/html; charset=utf-8">
		<style type="text/css">
		.opt-btn{
			margin-x: 50%;
			position: inline;
		}
		</style>
		<title>厦门大学大学生生育观念调查</title>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
	<script>
		var OPTIONS_MAX=10;
		var TIMEOUT=400;
	</script>
		<div>
			<h3 id="ques"></h3>
			<script>
			for(var i=0;i<OPTIONS_MAX;i++){
				document.write('<div style="position:relative;">');
				document.write('<button class="btn btn-default btn-block opt-btn" id="option_'+i+'" onmousedown="javascript:select('+i+');"></button>');
				document.write('</div>');
			}
			</script>
			<button class="btn btn-info btn-block" id="next_btn" onmousedown="javascript:record();">
				确定
			</button>
			<label id="ques_num"></label>
		</div>
	<script src="/index_vote.js"></script>
	</body>
</html>
